includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Access to an undefined property Illegal\\RequestAudit\\Http\\Resources\\[a-zA-Z0-9::a-zA-Z]#'

